<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h2>Novo Cadastro</h2>
        <form action="/salvar" method="post">

            <label>Nome Principal</label>
            <input type="text" name="campo_nome" required>

            <label>Informações Complementares</label>
            <input type="text" name="campo_info" required>

            <label>Valor</label>
            <input type="number" step="0.01" min="0.01" name="campo_valor" placeholder="0.00" required>

            <button type="submit">Salvar</button>
        </form>

         <!-- SE QUISER, COLOQUE O TERMINAL AQUI: -->
        <div class="terminal-logs">
            <div class="terminal-topo">
                <span class="circulo vermelho"></span>
                <span class="circulo amarelo"></span>
                <span class="circulo verde"></span>
                <p class="terminal-titulo">CORN_TERMINAL_V2.0.exe</p>
            </div>
            <div class="terminal-conteudo" id="log-texto">
                <p class="log-linha">[STATUS] Aguardando dados de entrada...</p>
            </div>
        </div>
        
        <hr>
        <a href="/">Voltar à Página Anterior</a>

        <p>CornTeam</p>
    </div>
    <!-- Cole esta linha bem no final do corpo dos seus HTMLs -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

</html>