<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h2>Novo Cadastro</h2>
        <form action="/salvar" method="post">

            <label>Nome Principal</label>
            <input type="text" name="campo_nome" required>

            <label>Informações Complementares</label>
            <input type="text" name="campo_info" required>

            <label>Valor</label>
            <input type="number" step="0.01" min="0.01" name="campo_valor" placeholder="0.00" required>

            <button type="submit">Salvar</button>
        </form>
        <hr>
        <a href="/">Voltar à Página Anterior</a>

        <p>CornTeam</p>
    </div>
</body>
</html>