<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h2>Novo cadastro</h2>
        <form action="/salvar" method="post">

            <label for="campo_nome">Nome principal<label>
                <input type="text" id="campo_nome" name="campo_nome" placeholder="digite seu nome...." required>

                <label for="campo_info">Informações:</label>
                <input type="text" id="campo_info"  name="campo_info" placeholder="Digite uma informação..." required>

                <button type="submit">Salvar</button>
        </form>
        <hr>
        <a href="/">Voltar a pagina anterior</a>


        <p>Projeto pratico de DSI</p>
        <hr>
        <a href="/cadastro" class="btn">Abrir Formulario</a> 
    </div>
</body>
</html>