<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for(2DS_Noite_Michael'static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Sistema Back-End</h1>
        <p>Projeto pratico de DSI</p>
        <hr>

        <!--cards de metrica-->
        <div class="cads-geral">
        <div class="card">
        <h3>total de itens</h3>
        <p class="numero">{{total}}</p>

        </div>
<div class="card">
    <h3>faturamento</h3>
    <p class="numero">R${{"%.2f|format(faturamento)}}</p>

</div>
<div class="card"></div>
    <h3>concluidos</h3>
    <p class="numero">R${{concluidos}}</p>


        </div>

        <form action="/" method="ger" class="search-form">
            <input type="text" name="busca" placeholder="pesquisar por nome..." values="{{busca}}">
            <button type="submit">buscar</button>
            {{% if busca %}}
                <a href="/" class="btn-clear">limparbusca</a>
                {{% endif %}} 

                <h2>registro do sistema</h2>

                {% if cadastro|legth == 0%}
                <p><em>nenhum registro encontrado</em></p>
                {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>nossa</th>
                            <th>informações</th>
                            <th>valor (R$)</th>
                            <th>Status</th>
                            <th>Ações</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in cadastro %}
                            <tr>
                                   <th>{{loop.index}}</th>
                                   <th>{{item.nome}}</th>
                                   <th>{{item.info}}</th>
                                   <td>R$ {{ "%.2f|format(item.valor)}}</td>

                                   <span class="bagde {{ 'badge-sucess ' if item.status == 'concluido' else 'badge-warning'}}">
                                       {{item.status}} 
                                   </span>
                                   <td>
                                    <td>
                                        <a href="/mudar-status/{{loop.index0}}" class="btn-action">mudarstatus</a>
                                        <a href="/excluir/{{loop.index0 }}" class="btn-charge" onclick="return confirm('deseja excluir?')">excluir</a>               </td>
                                   </td>
                            </tr>
                            {endfor}
                        </tbody>
                </table>
                {endif}


        </form>
          <a href="/cadastro" class="btn">Abrir Formulario</a> 
    </div>
</body>
</html>